<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="logo" href=""><img src="assets/image/medical-logo.jpg" alt="" width="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Trang chủ</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="vaccinationRegister" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Đăng ký tiêm chủng
            </a>
            <div class="dropdown-menu" aria-labelledby="vaccinationRegister">
              <a class="dropdown-item" routerLink="">Tiêm chủng định kỳ</a>
              <a class="dropdown-item" routerLink="/vaccination-by-request/list">Đăng ký tiêm yêu cầu</a>
            </div>
          </li>
          <li class="nav-item dropdown active" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarManager" role="button"
               data-toggle="dropdown" aria-expanded="false">
              Quản lý
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarManager">
              <li><a class="dropdown-item" routerLink="/employee">Nhân viên</a></li>
              <li><a class="dropdown-item" routerLink="/vaccine-list">Vaccine</a></li>
              <li><a class="dropdown-item" routerLink="/periodical-vaccination-manager/list">Tiêm chủng</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown active" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarPatient" role="button"
               data-toggle="dropdown" aria-expanded="false">
              Bệnh nhân
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarManager">
              <li><a class="dropdown-item" routerLink="/patient/list">Bệnh nhân tổng hợp</a></li>
              <li><a class="dropdown-item" routerLink="/registered-required-vaccination">Đã đăng ký tiêm chủng yêu
                cầu</a></li>
              <li><a class="dropdown-item" routerLink="/periodic-vaccination/list">Đã đăng ký tiêm chủng định kỳ</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown active" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarEconomy" role="button"
               data-toggle="dropdown" aria-expanded="false">
              Tài chính
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarManager">
              <li><a class="dropdown-item" routerLink="/vaccine-price-list">Giá xuất Vắc-xin</a></li>
              <li><a class="dropdown-item" routerLink="/vaccine-transaction-list">Giao dịch khách hàng</a></li>
            </ul>
          </li>
        </ul>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <b class="nav-link" [hidden]="!isLoggedIn">
                  Tài khoản: <span style="color: blue">{{username}}</span>
                </b>
                <b class="nav-link" [hidden]="isLoggedIn">Chưa đăng nhập</b>
            </li>
            <li class="nav-item">
              <div class="dropdown user dropleft" [hidden]="!isLoggedIn">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarUser" role="button"
                   data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarUser">
                  <li>
                    <a href="" class="dropdown-item" (click)="logOut()">Đăng xuất</a>
                  </li>
                  <li>
                    <a href="" class="dropdown-item" routerLink="/vaccination-history/{{idPatient}}">Hồ sơ tiêm
                      chủng</a>
                  </li>
                  <li>
                    <a href="" class="dropdown-item" routerLink="/vaccination-by-request/suggestion">Vắc xin cho bạn</a>
                  </li>
                </ul>
              </div>

              <div class="dropdown user dropleft" [hidden]="isLoggedIn">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarUser" role="button"
                   data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarUser">
                  <li>
                    <a class="dropdown-item" routerLink="register">Đăng ký</a>
                  </li>
                  <li>
                    <a href="" class="dropdown-item" routerLink="login">Đăng nhập</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

