<!-- content -->
<div class="container">
  <div class="container-fluid" id="custom-font" *ngIf="flag">
    <div class="row">
      <div class="col-12 ">
        <h1 class="text-center mt-4 mb-4 ">Lịch sử tiêm chủng</h1>
        <div class="search row d-flex justify-content-end mb-4 float-right ">
          <div class="col-xl-3 col-md-3 ">
            <label for="nameVaccine">Tên vắc-xin</label>
            <input (keydown.enter)="page = 0; getListVaccine()"  [(ngModel)]="vaccineName" id="nameVaccine" class="form-control" type="text"
                   placeholder="Nhập tên vắc-xin">
          </div>
          <div class="col-xl-3 col-md-3 ">
            <label for="vaccinationDate">Ngày tiêm</label>
            <input (keydown.enter)="page = 0; getListVaccine()"  [(ngModel)]="vaccinationDate" id="vaccinationDate" class="form-control "
                   type="date">
          </div>
          <div class="col-xl-1 col-md-1 ">
            <br>
            <button class="btn btn-warning mt-xl-2" (keydown.enter)="resetSearch()" (click)="resetSearch()">
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
          <div class="col-xl-2 col-4 width-search">
            <br>
            <button (keydown.enter)="page = 0; getListVaccine()" (click)="page = 0; getListVaccine()" class="btn btn-success mt-xl-2"><i class="fa fa-search"></i>
              Tìm kiếm
            </button>
          </div>

        </div>
      </div>
    </div>


    <div class="row tab">
      <div class="col-12" >
          <h2 class="text-danger text-center" *ngIf="vaccinationHistoryList.length == 0">Không tìm thấy kết quả!</h2>
          <table class="table table-hover table-bordered" *ngIf="vaccinationHistoryList.length > 0">
            <thead>
            <tr class="bg-table-header">
              <th scope="col">Stt</th>
              <th scope="col">Tên vắc xin</th>
              <th scope="col">Loại vắc xin</th>
              <th scope="col">Ngày tiêm</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Mũi tiêm</th>
              <th scope="col">Tình trạng sau khi tiêm</th>
              <th scope="col">Phản hồi</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vaccinationHistory of vaccinationHistoryList, index as i">
              <td scope="row">{{i + 1}}</td>

              <td style="width: 200px">{{vaccinationHistory.vaccination.vaccine.name}}</td>
              <td>{{vaccinationHistory.vaccination.vaccine.vaccineType.name}}</td>
              <td>{{vaccinationHistory.vaccination.date |  date: "dd-MM-yyyy"}}</td>
              <td> <span [class]="vaccinationHistory.status ? 'badge badge-danger' : 'badge badge-primary'">{{vaccinationHistory.status ? 'Đã tiêm' : 'Chưa tiêm'}}</span></td>
              <td>{{vaccinationHistory.vaccinationTimes}}</td>
              <td>{{vaccinationHistory.afterStatus}}</td>

              <td class="text-center">
                <div *ngIf="vaccinationHistory.afterStatus === null ; else elseBlock2 ">
                  <button type="button" class="btn btn-info with-button" [disabled]="!vaccinationHistory.status"
                          [routerLink]="['/vaccination-history/feedback', vaccinationHistory.vaccinationHistoryId]">Phản
                    hồi
                  </button>
                </div>
                <ng-template #elseBlock2>
                  <div *ngIf="this.vaccinationHistory.afterStatus === '' ">
                    <button type="button" class="btn btn-info with-button" [disabled]="!vaccinationHistory.status"
                            [routerLink]="['/vaccination-history/feedback', vaccinationHistory.vaccinationHistoryId]">Phản
                      hồi
                    </button>
                  </div>
                </ng-template>
              </td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <nav aria-label="Page navigation example" *ngIf="pageable.totalPages > 0">
          <ul class="pagination d-flex justify-content-md-end justify-content-center">
            <li class="page-item">
              <button class="page-link" [hidden]="page == 0" (click)="page = 0; getListVaccine()">Đầu</button>
            </li>
            <li class="page-item">
              <button class="page-link" [hidden]="page == 0" (click)="page = page - 1; getListVaccine()">Trang sau
              </button>
            </li>
            <li class="page-item col-md-1 col-2  px-0">
              <div class="input-group">
                <input #pageInput (change)="page = $event.target.value - 1" type="text"
                       class="form-control text-right rounded-0" [placeholder]="page + 1" aria-label="Username"
                       aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"> /{{pageable.totalPages}}</span>
                </div>
              </div>
            </li>
            <li class="page-item">
              <button (click)="getListVaccine()" class="btn btn-primary rounded-0">Đi</button>
            </li>
            <li class="page-item">
              <button class="page-link" [hidden]="page >=  pageable.totalPages - 1"
                      (click)="page = page + 1; getListVaccine()">Trang kế
              </button>
            </li>
            <li class="page-item">
              <button class="page-link" [hidden]="page >=  pageable.totalPages - 1 && page < pageable.totalPages"
                      (click)="page = pageable.totalPages - 1; getListVaccine()">Cuối
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
