<div class="row justify-content-center">
  <div class="col-xl-6">
    <div class="container">
      <form [formGroup]="formGroup" *ngIf="defvalue" (ngSubmit)="submit()">
        <h3 class="mb-4">Cập nhật giá vắc xin</h3>

        <div class="row mb-3 ">
          <div class="col-4">
            <label class="col-form-label">Mã vắc xin: </label>
          </div>
          <div class="col-8 mt-2">
            <p>{{"MVC-" + exports.storage.vaccine.vaccineType.vaccineTypeId}}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Tên vắc xin: </label>
          </div>
          <div class="col-8 mt-2">
            <p>{{exports.storage.vaccine.name}}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Loại vắc xin: </label>
          </div>
          <div class="col-8 mt-2">
            <p>{{exports.storage.vaccine.vaccineType.name}}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Nước sản xuất: </label>
          </div>
          <div class="col-8 mt-2">
            <p>{{exports.storage.vaccine.origin}}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label class="col-form-label">Độ tuổi tiêm chủng: </label>
          </div>
          <div class="col-8 mt-2">
            <p>{{exports.storage.vaccine.age}}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label for="price" class="col-form-label">Giá (VNĐ/mũi)<span class="text-danger">*</span>: </label>
          </div>
          <div class="col-8">
            <input id="price" class="form-control" formControlName="price" type="text" placeholder="Nhập Giá">
            <div class="error-place" *ngFor="let validation of validate_message.price">
              <small class="text-danger"
                *ngIf="formGroup.get('price').hasError(validation.type) && (formGroup.get('price').touched || formGroup.get('price').pristine)">
                {{validation.message}}</small>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div>
            <button class="btn btn-primary mr-3" >Sửa</button>

            <a class="btn btn-dark" routerLink="/vaccine-price-list" (click)="getMessageCancel()">Hủy</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
