<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Cài lại mật khẩu</h5>
          <div *ngIf="isSendMail then sent else notSent"></div>
          <ng-template #sent>
            <div *ngIf="isSuccessful then accepted else denied"></div>
            <ng-template #accepted>
              <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="onSubmitt()">
                <div class="form-label-group">
                  <input formControlName="newPassword" type="password" class="form-control"
                         placeholder="Mật khẩu mới*">
                  <div class="error-place">
                    <div  *ngFor="let validation of validation_messages.password">
                      <small class="text-danger"
                             *ngIf="formGroup.get('newPassword').hasError(validation.type) && (formGroup.get('newPassword').touched || formGroup.get('newPassword').pristine)">
                        {{validation.message}}</small>
                    </div>
                  </div>
                </div>
                <div class="form-label-group">
                  <input formControlName="repeatNewPassword" type="password" class="form-control"
                         placeholder="Nhập lại mật khẩu mới*">
                  <div class="error-place">
                    <div  *ngFor="let validation of validation_messages.password">
                      <small class="text-danger"
                             *ngIf="formGroup.get('repeatNewPassword').hasError(validation.type) && (formGroup.get('repeatNewPassword').touched || formGroup.get('repeatNewPassword').pristine)">
                        {{validation.message}}</small>
                    </div>
                  </div>
                </div>
                <small id="emailHelp" class="form-text text-muted ">Hãy nhập tên tài khoản và làm các bước tiếp theo để thay
                  đổi mật khẩu mới</small>
                <div *ngIf="isSubmited then submited else notSubmited"></div>
                <ng-template #notSubmited>
                  <button class="btn btn-lg btn-primary text-uppercase" type="submit">Cài lại mật khẩu</button>
                  <button class="btn btn-lg btn-secondary text-uppercase" type="button">Huỷ</button>
                </ng-template>
                <ng-template #submited>
                  <button class="btn btn-lg btn-primary text-uppercase" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </button>
                </ng-template>
              </form>
            </ng-template>
            <ng-template #denied>
              <div class="alert alert-danger" role="alert">
                Có lỗi xảy ra: đường dần kích hoạt không đúng hoặc mã kích hoạt hết hạn, vui lòng kiểm tra lại hoặc
                liên hệ bộ phận hỗ trợ để
                được giúp đỡ
              </div>
            </ng-template>
          </ng-template>
     <ng-template #notSent>
       <div class="alert alert-danger" role="alert">
         <ul>
           <li> Bạn cần sử dụng đường dẫn xác thực chúng tôi đã gửi cho bạn!</li>
           <li>Một email đã được gửi tới địa chỉ Email của bạn, hãy truy cập thư cá nhân và nhấn vào đường dẫn xác thực</li>
           <li><span><h5>Lưu ý:</h5></span>nếu không tìm thấy hãy tìm trong mục <span> <h5>Thư rác/Spam</h5></span></li>
         </ul>
       </div>
     </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>







