<div class="footer">
  <footer class="text-left " style="margin-top: 200px   ;background-color:rgb(158,207,251)">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-8 mb-md-0">
          <h5 class="text-uppercase mb-0">Trung tâm y tế dự phòng Đà Nẵng</h5>
          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt"></i> 103 Hùng Vương, Hải Châu 1, Hải Châu, Đà Nẵng
                550000, Việt Nam</p>
            </li>
            <li>
              <p><i class="far fa-clock"></i> Giờ mở cửa Sáng: 07:30–11:00, Chiều: 13:30–16:30</p>
            </li>
            <li>
              <a href=""><i class="fas fa-phone"></i> Hotline: +842363573828</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-8 mb-md-0">
          <h5 class="text-uppercase">Bản đồ</h5>
          <iframe class="map"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61340.4113070111!2d108.17591343831853!3d16.077124818262583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421834447b8df7%3A0x6c438d251f3ad7c5!2zVHJ1bmcgVMOibSBZIFThur8gROG7sSBQaMOybmcgxJDDoCBO4bq1bmcgLSBDxqEgc-G7nyB0acOqbSBjaOG7p25n!5e0!3m2!1svi!2s!4v1610430016844!5m2!1svi!2s"
                  width="700" height="350" frameborder="0" style="border:0;" allowfullscreen=""
                  aria-hidden="false" tabindex="0"></iframe>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(129,174,207)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">Trung tâm y tế dự phòng Thành phố Đà Nẵng</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
