<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Cài lại mật khẩu</h5>
          <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="form-label-group">
              <input formControlName="username" type="text"  class="form-control"
                     placeholder="Tên tài khoản*">
<!--              <div class="error-place" *ngFor="let validation of validation_messages.username">-->
<!--                <small class="text-danger"-->
<!--                       *ngIf="formGroup.get('username').hasError(validation.type) && (formGroup.get('username').touched || formGroup.get('username').pristine)">-->
<!--                  {{validation.message}}</small>-->
<!--              </div>-->
            </div>
            <small id="emailHelp" class="form-text text-muted ">Hãy nhập tên tài khoản và làm các bước tiếp theo để thay đổi mật khẩu mới</small>
            <div *ngIf="isSubmited then submited else notSubmited"></div>
            <ng-template #notSubmited>
              <button class="btn btn-lg btn-primary text-uppercase" type="submit">Gửi email xác nhận</button>
              <button class="btn btn-lg btn-secondary text-uppercase" type="button" routerLink="">Huỷ</button>
            </ng-template>
            <ng-template #submited>
              <button class="btn btn-lg btn-primary text-uppercase" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


