<div class="content" (click)="pageInput.value = ''">
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Trang Quản Lý Giá Vắc Xin</h1>

    <div class="search row d-flex justify-content-center mb-4 text-center">
      <div class="col-lg-2 col-md-3">
      </div>
      <div class="col-lg-2 col-md-3">
      </div>
      <div class="col-lg-2 col-md-3">
        <label>Loại vắc-xin</label>
        <select class="form-control" name="" [(ngModel)]="keyword2">
          <option value="">Mặc định</option>
          <option *ngFor="let item of vaccineType">{{item.name}}</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>Nước sản xuất</label>
        <select class="form-control" name="" [(ngModel)]="keyword3">
          <option value="">Mặc định</option>
          <option *ngFor="let item of origin">{{item.origin}}</option>
        </select>
      </div>
      <div class="col-md-2 mt-2">
        <br>
        <button class="btn btn-success" (click)="search()"><i class="fa fa-search"> </i>Tìm kiếm</button>
      </div>
    </div>


    <div class="" style="">
      <h3 class="text-danger text-center" *ngIf="exports.length == 0">Không có kết quả tìm thấy</h3>
      <table style="" class="table table-hover table-striped table-bordered" *ngIf="exports.length > 0">
        <thead>
        <tr class="text-center bg-table-header" style="background-color:   rgb(158,207,251) !important;">
          <th>STT</th>
          <th>Mã vắc-xin</th>
          <th>Tên vắc-xin</th>
          <th>Loại vắc-xin</th>
          <th>Nước sản xuất</th>
          <th>Độ tuổi tiêm chủng</th>
          <th>Giá (VND/mũi)</th>
          <th>Tạo giá mới/Sửa</th>
        </tr>
        </thead>
        <tbody *ngFor="let vaccine of exports ,index as i">
        <tr>
          <td>{{i + 1}}</td>
          <td>MVC-{{vaccine.storage.vaccine.vaccineId}}</td>
          <td>{{vaccine.storage.vaccine.name}}</td>
          <td>{{vaccine.storage.vaccine.vaccineType.name}}</td>
          <td>{{vaccine.storage.vaccine.origin}}</td>
          <td>{{vaccine.storage.vaccine.age}}</td>
          <td style="text-align: right">{{vaccine.price}}</td>
          <td style="text-align: center">
            <button [routerLink]="['/vaccine-price-edit/'+vaccine.importAndExportId]" class="btn btn-primary"><i
              class="fa fa-edit"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-md-end justify-content-center">
          <li class="page-item"><a class="page-link" [hidden]="page==0" (click)="page =0;getList()">Đầu</a></li>
          <li class="page-item"><a class="page-link" [hidden]="page==0" (click)="page =page - 1;getList()">Trang sau</a>
          </li>
          <!--                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
          <li class="page-item col-md-1 col-2  px-0">
            <!--                        <input class="form-control shadow-none rounded-0" type="text" placeholder="2/5">-->
            <div class="input-group">
              <input #pageInput (change)="page = $event.target.value - 1" type="text"
                     class="form-control text-right rounded-0" [placeholder]="page +1" aria-label="Username"
                     aria-describedby="basic-addon1">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">/{{pageable.totalPages}}</span>
              </div>
            </div>
          </li>
          <li class="page-item">
            <button class="btn btn-primary rounded-0">Đi</button>
          </li>
          <li class="page-item"><a class="page-link" [hidden]="page >= pageable.totalPages - 1"
                                   (click)="page= page +1; getList()">Trang kế</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   [hidden]="page >= pageable.totalPages - 1 &&page<pageable.totalPages"
                                   (click)="page= pageable.totalPages -1; getList()">Cuối</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
